/*

* {
  border: 1px solid red;
}

*/

html,
body,
#map {
  height: 100%;
}

.list {
  overflow-y: scroll;
}

.map-container,
.list {
  height: 95%;
}

@media screen and (max-width: 768px) {
  .no-margin {
    margin: 0;
    padding: 0;
  }
}
