/*
* {
  border: 1px solid red;
}
*/

html,
body,
#map {
  height: 100%;
}

.list {
  overflow-y: scroll;
}

.map-container,
.list {
  height: 95%;
}

.map {
  float: right;
}

#info-img {
  height: 290px;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .no-margin {
    margin: 0;
    padding: 0;
  }

  .list {
    left: 0;
    opacity: 0.85;
    overflow-x: hidden;
    position: absolute;
    transition: 0.5s;
    width: 0;
    z-index: 1;
  }

  .map {
    width: 100%;
  }

  .navbar {
    margin: 0;
  }

  .map-container {
    height: 98%;
  }

  .panel {
    max-width: 290px;
  }
}
